@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(17, 17, 17, 0.75);
	z-index: 1;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
	padding: 1.5rem;
	background-color: white;
	min-width: 35rem;
	box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.25);
	position: relative;
}

.title {
	color: $color-grey-light;
	text-align: center;
	margin-bottom: 1.5rem;

	&::first-letter {
		text-transform: uppercase;
	}
}

.icon {
	@extend .iconSecondary;

	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
}
