@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.container,
.title {
	display: flex;
	align-items: center;
}

.container {
	justify-content: space-between;
	margin-bottom: 1rem;
}

.containerCentered {
	justify-content: center;
}

.marginBigger {
	@extend .container;

	margin-bottom: 2rem;
}

.title {
	font-size: 2rem;
	font-weight: 500;

	svg {
		@extend .iconSecondary;
		@extend .iconSmaller;

		margin-right: 0.75rem;
	}
}

.capitalized {
	text-transform: capitalize;
}

.titleLarger {
	font-size: 2.3rem;
}

.titleMuted {
	color: $color-grey-light;
}

.info {
	color: $color-grey-lighter;
	font-size: 1.55rem;
	margin-left: 0.5rem;
}

.term {
	color: $color-grey-light;
	margin-left: 0.5rem;
	max-width: 25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
