@import "../../styles/variables.module.scss";

.container,
.title {
	display: flex;
	align-items: center;
}

.container {
	justify-content: space-between;
	margin-bottom: 2rem;
}

.containerCentered {
	justify-content: center;
}

.marginSmaller {
	@extend .container;

	margin-bottom: 1rem;
}

.title {
	font-size: 2rem;
	font-weight: 500;
	text-transform: capitalize;
}

.nonCapitalized {
	@extend .title;

	text-transform: lowercase;

	&::first-letter {
		text-transform: uppercase;
	}
}

.titleLarger {
	font-size: 2.3rem;
}

.titleMuted {
	color: $color-grey-lighter;
}

.info {
	color: $color-grey-lighter;
	font-size: 1.55rem;
	font-family: sans-serif;
	margin-left: 0.5rem;
}

.term {
	color: $color-grey-light;
	margin-left: 0.5rem;
	max-width: 25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
