@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.container {
	position: relative;
}

.sort {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: $color-grey-light;
	border-radius: 5px;
	padding: 0.3rem 0.5rem;
	transition: background-color 100ms ease-in;

	svg {
		@extend .icon;
		margin-left: 0.75rem;

		&:hover {
			background-color: transparent;
		}
		&:active {
			background-color: transparent;
		}
	}

	&:hover {
		color: $color-black;
		background-color: $color-grey-lightest;

		svg {
			path {
				fill: $color-black;
			}
		}
	}

	&:active {
		color: $color-grey-light;
		background-color: $color-grey-lighter-more;

		svg {
			path {
				fill: $color-grey-light;
			}
		}
	}
}

.sortActive {
	background-color: $color-grey-lighter-more;
	color: $color-black;

	svg {
		path {
			fill: $color-black;
		}
	}
}
