@import "../../styles/variables.module.scss";

.container {
	display: flex;
	align-items: center;
}

.username {
	margin-left: 0.75rem;
	color: $color-grey-light;

	&::first-letter {
		text-transform: uppercase;
	}
}
