.container {
	padding-bottom: 1rem;
}

.listMain {
	display: grid;
	grid-template-columns: repeat(auto-fit, 25rem);
	grid-gap: 2.5rem;
}

.groupsList {
	@extend .listMain;
}

.questionsList {
	@extend .listMain;

	grid-template-columns: 1fr;
}

.usersList {
	@extend .questionsList;

	grid-gap: 1.5rem;
}

.listMainSecondary {
	display: block;
}
