@import "../../../styles/variables.module.scss";
@import "../../../styles/utils.module.scss";

.container {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
}

.filename {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $color-grey-light;
	font-size: 1.5rem;
	max-width: 90%;
}

.icon {
	@extend .iconSecondary;
	@extend .iconSmaller;
}
