@import "../../styles/box-shadows.module.scss";
@import "../../styles/image.module.scss";
@import "../../styles/utils.module.scss";

.overlay,
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 5;
	outline: none;
}

.container {
	height: 85%;
	min-width: 15rem;
	max-width: 80%;
	background-color: transparent;
	position: relative;
	margin-top: -3rem;
}

.image {
	@extend .image;
	@extend .imagePreserved;

	border-radius: 5px;
	box-shadow: $box-shadow-three;
	position: relative;
	z-index: 7;
}

.indicator {
	@extend .iconSecondary;

	position: absolute;
	path {
		fill: lighten($color-grey-lighter, 12%);
	}
	background-color: lighten($color-grey-light, 5%);

	&:hover {
		path {
			fill: $color-grey-lighter-more;
		}
		background-color: lighten($color-grey-light, 5%);
	}

	&:active {
		path {
			fill: lighten($color-grey-lighter, 12%);
		}
		background-color: $color-grey-light;
	}
}

.indicatorLeft {
	@extend .indicator;
	left: 5rem;
}

.indicatorRight {
	@extend .indicator;
	right: 5rem;
}

.imagesPreview {
	position: absolute;
	left: 50%;
	bottom: 0.5rem;
	transform: translateX(-50%);
}
