@import "../../styles/variables.module.scss";

.container {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: fit-content;
}

.logoIcon {
	height: 4.5rem;
	width: 4.5rem;
	margin-right: 0.75rem;
}

.logoText {
	font-size: 2rem;
	font-weight: 500;
}
