@import "../../styles/variables.module.scss";

.container {
	margin-bottom: 2rem;
}

.input {
	display: block;
	height: 3.5rem;
	width: 100%;
	outline: none;
	border: 1px solid $color-grey-lighter-more;
	border-radius: 5px;
	padding: 0 0.5rem;
	font-size: 1.55rem;
	font-family: inherit;
	transition: border 100ms ease-in;

	&:focus {
		border: 1px solid $color-grey-light;
	}

	&::-webkit-input-placeholder {
		color: $color-grey-lighter;
		letter-spacing: 1px;
	}
}

.errorInput {
	border: 1px solid $color-red;
}

.label {
	margin-left: 0.5rem;
	margin-bottom: 0.35rem;
	display: block;
	color: $color-grey-light;

	&::first-letter {
		text-transform: uppercase;
	}
}

.error {
	display: block;
	margin-left: 0.5rem;
	color: $color-red;
	margin-top: 0.35rem;
}
