@import "../../styles/variables.module.scss";
@import "../../styles/box-shadows.module.scss";

.menu {
	position: absolute;
	right: 0;
	top: 4.35rem;
	background-color: $color-grey-lightest;
	border-radius: 5px;
	box-shadow: $box-shadow-one;
	z-index: 2;
}

.menuCenter {
	right: auto;
	left: 50%;
	transform: translateX(-50%);
}

.indicator {
	position: absolute;
	left: 50%;
	top: -0.5rem;
	transform: translateX(-50%) rotate(45deg);
	height: 1.5rem;
	width: 1.5rem;
	background-color: $color-grey-lightest;
	pointer-events: none;
	z-index: -1;
}

.indicatorRight {
	left: 90%;
}
