@import "../../styles/variables.module.scss";
@import "../../styles/box-shadows.module.scss";

.menu {
	position: absolute;
	right: 0;
	top: 4rem;
	background-color: $color-grey-lightest;
	border-radius: 5px;
	box-shadow: $box-shadow-one;
}
