@import "../../styles/variables.module.scss";

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-grey-lighter-more;
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 100ms ease-in;
}

.containerSmaller {
	height: 3rem;
	width: 3rem;
}

.text {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
	color: $color-grey-light;
}
