@import "../../styles/variables.module.scss";

.spinner {
	height: 2rem;
	width: 2rem;
	border: 2px solid $color-grey-light;
	border-left-color: transparent;
	border-radius: 50%;
	animation: spinnerAnimation 500ms infinite linear;
}

.spinnerWhite {
	border: 2px solid white;
	border-left-color: transparent;
}

.spinnerSmaller {
	height: 1.85rem;
	width: 1.85rem;
}

@keyframes spinnerAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
