@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.container {
	position: relative;
}

.preview {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	& > *:not(:first-child) {
		margin-left: 0.75rem;
	}

	&:hover {
		.username {
			color: $color-black;
		}

		.icon {
			path {
				fill: $color-black;
			}
		}
	}

	&:active {
		.username {
			color: $color-grey-light;
		}

		.icon {
			path {
				fill: $color-grey-light;
			}
		}
	}
}

.username {
	font-size: 1.75rem;
	font-weight: 500;
	color: $color-grey-light;
	text-transform: capitalize;
}

.email {
	max-width: 15rem;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.55rem;
	text-transform: lowercase;
	padding: 2rem 0;
}

.icon {
	@extend .icon;
}
