@import "../../../styles/variables.module.scss";
@import "../../../styles/box-shadows.module.scss";

.container {
	height: 5rem;
	width: 5rem;
	border-radius: 3px;
	cursor: pointer;
	transition: transform 100ms ease-in;

	img {
		border-radius: 3px;
	}

	&:not(:first-child) {
		margin-left: 1.5rem;
	}

	&:active {
		transform: scale(0.97);
	}
}

.containerActive {
	box-shadow: $box-shadow-two;

	img {
		border: 2px solid $color-blue;
	}
}
