@import "../../../styles/variables.module.scss";
@import "../../../styles/box-shadows.module.scss";
@import "../../../styles/utils.module.scss";

.container {
	&:not(:first-child) {
		margin-left: 1.5rem;
	}
}

.imageContainer {
	height: 5rem;
	width: 5rem;
	border-radius: 3px;
	cursor: pointer;
	transition: transform 100ms ease-in;
	position: relative;

	img {
		border-radius: 3px;
	}

	&:active {
		transform: scale(0.97);
	}
}

.imageContainerActive {
	box-shadow: $box-shadow-two;

	img {
		border: 2px solid $color-blue;
	}
}

.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
	border: 1px solid $color-grey-lighter;
	border-radius: 3px;
	padding: 0.3rem 0;
	cursor: pointer;
	transition: border 100ms ease-in, background-color 100ms ease-in;

	&:active {
		border: 1px solid $color-grey-lighter-more;
		background-color: $color-grey-lightest;
	}
}

.icon {
	@extend .iconSmaller;
}
