@import "../../styles/variables.module.scss";
@import "../input-group/input-group.module.scss";

.fileSelector {
	visibility: hidden;
	display: block;
	height: 0;
	width: 0;
}

.error {
	color: $color-red;
	margin-top: 0.5rem;
	margin-left: 0;

	&::first-letter {
		text-transform: uppercase;
	}
}

.label {
	@extend .label;
}

.divider {
	margin-bottom: 1rem;
}
