@import "../../styles/variables.module.scss";

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 1.5rem;
}

.containerLeft {
	align-items: flex-start;
}

.message {
	font-weight: 500;
	color: $color-grey-lighter;
	margin-bottom: 0.75rem;

	&::first-letter {
		text-transform: uppercase;
	}
}
