@import "../cards-list/cards-list.module.scss";
@import "../group-card/group-card.module.scss";
@import "../../styles/variables.module.scss";
@import "../question-card/question-card.module.scss";

.skeletonContainer {
	@extend .listMain;

	grid-auto-rows: 12.5rem;
	padding-bottom: 1rem;
}

.groupSkeletonContainer {
	@extend .skeletonContainer;
}

.questionSkeletonContainer {
	@extend .skeletonContainer;
	grid-template-columns: 1fr;
}

.skeletonStyles {
	@extend .cardStyles;

	padding: 1rem;
	height: auto;

	&:hover {
		background-color: $color-grey-lightest;
	}
}

.groupSkeleton {
	@extend .skeletonStyles;
}

.questionSkeleton {
	@extend .skeletonStyles;

	width: 45rem;
}

.title,
.subInfo {
	// animation: textAnimation 1000ms ease-in infinite alternate;
	border-radius: 3px;
}

.title,
.subInfo,
.profile {
	background-color: $color-grey-lighter-more;
}

.title {
	width: 95%;
	height: 1.75rem;
	margin-bottom: 1.5rem;
}

.subInfo {
	width: 75%;
	height: 1.3rem;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.subInfoSmall {
	@extend .subInfo;

	width: 70%;
}

.subInfoSmaller {
	@extend .subInfo;

	width: 55%;
}

.subInfoSmallest {
	@extend .subInfo;

	width: 25%;
}

.header {
	@extend .header;
	margin-bottom: 1rem;
	justify-content: start;
}

.profile {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	margin-right: 1.5rem;
}

@keyframes textAnimation {
	from {
		background-color: darken($color-grey-lighter-more, 7%);
	}
	to {
		background-color: $color-grey-lighter-more;
	}
}
