@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.container {
}

.detailsMain {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 2rem;
	justify-content: start;
	margin-bottom: 2rem;

	& > *:first-child {
		margin-right: 4rem;
	}

	& > * {
		width: fit-content;
	}
}

.questionTitle {
	font-size: 1.8rem;
	font-weight: 500;
	color: $color-grey-light;
	margin-bottom: 0.5rem;

	&::first-letter {
		text-transform: uppercase;
	}
}

.buttonContainer {
	@extend .cornerButton;
}

.divider {
	margin-bottom: 2rem;
}
