@import "../../styles/variables.module.scss";

.container {
	background-color: $color-blue;
	width: fit-content;
	padding: 0.1rem 0.35rem;
	border-radius: 5px;
	color: $color-grey-lightest;
}

.containerRed {
	background-color: $color-red-lighter;
}
