@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.container {
	display: flex;
	align-items: center;
	background-color: $color-blue;
	width: fit-content;
	padding: 0.1rem 0.35rem;
	border-radius: 5px;
	color: $color-grey-lightest;

	svg {
		@extend .iconSmaller;
		margin-right: 0.5rem;
	}
}

// .containerGrey,
// .containerRed {
// 	svg {
// 		path {
// 			fill: $color-grey-lighter-more;
// 		}
// 	}
// }

.containerGrey {
	background-color: lighten($color-grey-lighter, 15%);
}

.containerLightBlue {
	background-color: lighten($color-blue, 7%);
}

.containerMuted {
	background-color: rgba(66, 133, 244, 0.9);
}

.containerTransparent {
	background-color: transparent;
	border: 1px solid $color-grey-lighter-more;
	color: $color-grey-light;
}

.containerBigger {
	padding: 0.3rem 1rem;
}

.textCapitalized {
	&::first-letter {
		text-transform: uppercase;
	}
}
