@import "../../styles/variables.module.scss";

.container {
	@extend .cardStyles;

	transition: background-color 100ms ease-in, box-shadow 100ms ease-in,
		color 100ms ease-in;

	&:hover {
		border: none;
		background-color: $color-grey-lighter-more;

		.title {
			color: $color-black;
		}
	}

	&:active {
		background-color: darken($color-grey-lighter-more, 5%);
	}
}

.cardStyles {
	padding: 0.75rem;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	cursor: pointer;
	background-color: $color-grey-lightest;
	height: fit-content;
}

.title {
	color: $color-grey-light;
	font-size: 2rem;
	margin-bottom: 0.75rem;

	&::first-letter {
		text-transform: uppercase;
	}
}

.infoContainer {
	display: flex;
	align-items: center;
	color: $color-grey-lighter;
	margin-bottom: 0.3rem;
	font-size: 1.55rem;
}

.infoTitle {
	display: inline-block;

	// &::first-letter {
	// 	text-transform: uppercase;
	// }
}

.info {
	font-weight: 500;
	margin-left: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
