@import "../../styles/variables.module.scss";

.container {
	// height: calc(100vh - 5rem - 3rem - 1rem);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		width: 0;
	}

	// &::-webkit-scrollbar-thumb {
	// 	background-color: darken($color-grey-lighter-more, 5%);
	// 	border-radius: 5px;
	// }
}

.downPusher {
	flex: 1;
}
