@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";
@import "../../styles/box-shadows.module.scss";

.container {
	border: 1px solid $color-grey-lighter-more;
	padding: 1.5rem;
	border-radius: 5px;
	height: fit-content;
	// box-shadow: $box-shadow-one;

	svg {
		@extend .icon;
	}
}

.title {
	font-size: 1.85rem;
	margin-bottom: 1rem;
	font-weight: 500;
	color: $color-grey-light;
}

.subtitle {
	color: $color-grey-lighter;
	margin-bottom: 1.5rem;
	font-size: 1.55rem;
	line-height: 1.5;
}

.title,
.subtitle {
	text-align: center;

	&::first-letter {
		text-transform: uppercase;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;

	& > *:first-child {
		margin-right: 1.5rem;
	}
}
