@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.container {
	position: relative;
}

.joinContainer {
	@extend .cornerButton;
}

.text {
	color: $color-grey-light;
	font-weight: 500;
	cursor: pointer;
	text-transform: capitalize;

	&:hover {
		color: $color-black;
	}

	&:active {
		color: $color-grey-light;
	}
}
