@import "../../styles/utils.module.scss";

.container {
	justify-content: space-between;
	margin-top: -0.5rem;
}

.title {
	font-size: 2rem;
	color: $color-black;
	max-width: 25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;

	&::first-letter {
		text-transform: uppercase;
	}

	svg {
		margin-right: 0.75rem;
		width: 1.75rem;
		height: 1.75rem;
	}
}

.controls {
	& > * {
		margin-left: 1.5rem;
	}
}

.icon {
	@extend .iconSecondary;
	height: 1.85rem;
	width: 1.85rem;
}

.container,
.controls,
.title {
	display: flex;
	align-items: center;
}
