@import "../../styles/utils.module.scss";

.container {
	justify-content: space-between;
	height: 4rem;
	padding-bottom: 2.5rem;
}

.title {
	font-size: 1.85rem;
	color: $color-black;
	max-width: 35rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $color-grey-light;
	font-weight: 500;

	&::first-letter {
		text-transform: uppercase;
	}
}

.titleIconContainer {
	display: flex;
	align-items: center;

	svg {
		@extend .iconSecondary;

		margin-right: 0.75rem;
		width: 1.75rem;
		height: 1.75rem;
	}
}

.controls {
	& > * {
		margin-left: 3rem;
	}
}

.iconContainer {
	position: relative;

	svg {
		@extend .iconSecondary;
		height: 1.85rem;
		width: 1.85rem;
	}
}

.iconContainerActive {
	svg {
		background-color: $color-grey-lightest;
	}
}

.container,
.controls,
.title {
	display: flex;
	align-items: center;
}
