@import "../../styles/variables.module.scss";

.container {
	padding: 0.3rem 0;
	border-bottom: 1px solid $color-grey-lightest;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
