@import "../../styles/variables.module.scss";

.container {
	padding: 0.3rem 0;
	border-bottom: 1px solid $color-grey-lightest;
}

.headerContent,
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerContent {
	& > *:not(:first-child) {
		margin-left: 9rem;
	}
}
