@import "../../styles/card.styles.scss";
@import "../../styles/variables.module.scss";

.userCard {
	@extend .cardStyles;

	max-width: 40rem;
	cursor: auto;
	position: relative;

	&:hover {
		background-color: $color-grey-lightest;
	}
}

.user,
.controls {
	display: flex;
	align-items: center;
}

.user {
	cursor: pointer;
}

.userInfo {
	margin-left: 0.75rem;
}

.username,
.email {
	color: $color-grey-light;
}

.username {
	font-size: 1.75rem;
	font-weight: 500;

	&::first-letter {
		text-transform: uppercase;
	}
}

.email {
}

.tags {
	display: flex;
	margin-top: 0.5rem;

	& > *:not(:last-child) {
		margin-right: 0.75rem;
	}
}

.controls {
	margin-top: 1.5rem;
	padding-left: 1.5rem;

	& > *:first-child {
		margin-right: 1.5rem;
	}
}
