@import "../../styles/variables.module.scss";

.container {
}

.containerBordered {
	padding: 1rem;
	border: 1px solid $color-grey-lightest;
}

.divider {
	margin-bottom: 1rem;
}

.dividerBigger {
	margin-bottom: 2rem;
}

.imageList {
	transform-origin: top;
}
