@import "../../styles/utils.module.scss";

.container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.optionsToggle {
	position: absolute;
	top: 0.5rem;
	right: 0;
	width: fit-content;
}

.askContainer {
	@extend .cornerButton;
}
