@import "../../styles/variables.module.scss";
@import "../../styles/utils.module.scss";

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	padding: 0.75rem 2rem;
	cursor: pointer;
	white-space: nowrap;
	color: $color-grey-light;
	text-transform: capitalize;

	svg {
		@extend .icon;

		margin-right: 0.75rem;
	}

	&::first-letter {
		text-transform: uppercase;
	}

	&:nth-child(2) {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&:not(:first-child):not(:last-child) {
		border-bottom: 1px solid darken($color-grey-lighter-more, 5%);
	}

	&:hover {
		background-color: $color-grey-lighter-more;
		color: $color-black;

		svg {
			path {
				fill: $color-black;
			}
		}
	}

	&:active {
		background-color: darken($color-grey-lighter-more, 5%);
	}
}

.activeItem {
	background-color: $color-grey-lighter-more;
	color: $color-black;
}
