@import "../../styles/variables.module.scss";

.container {
}

.groupDetailsGrid {
	display: grid;
	grid-template-columns: 35rem 40rem;
	grid-gap: 2rem;
}

.infoTag {
	width: fit-content;
	padding: 0.3rem;
	border: 1px solid $color-grey-lighter-more;
	border-radius: 5px;

	&:not(:last-of-type) {
		margin-right: 0.75rem;
	}
}
