@import "../../styles/variables.module.scss";

.container {
	& > *:not(:first-child) {
		margin-bottom: 2rem;
	}
}

.groupDetails {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.infoTag {
	width: fit-content;
	padding: 0.3rem;
	border: 1px solid $color-grey-lighter-more;
	border-radius: 5px;

	&:not(:last-of-type) {
		margin-right: 0.75rem;
	}
}
