@import "./variables.module.scss";
@import "../components/spinner/spinner.module.scss";
@import "./box-shadows.module.scss";

.container {
	width: 40rem;
	margin: 1.5rem auto 0 auto;
	border: 1px solid $color-grey-lightest;
	padding: 1rem 3rem 1.5rem 3rem;
	border-radius: 5px;
	box-shadow: $box-shadow-one;
}

.form {
	& > *:last-child {
		margin-top: 3rem;

		// &:hover {
		// 	& > *:last-child {
		// 		border-color: $color-black;
		// 		border-left-color: transparent;
		// 	}
		// }
	}
}
