@import "./variables.module.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-stack-primary;
	color: $color-black;
	font-size: 1.7rem;
	height: 100vh;

	&::-webkit-scrollbar {
		width: 0.7rem;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-grey-lighter-more;
	}
}

h1,
h2,
h3 {
	font-weight: 500;
}

a {
	color: $color-blue;
	text-decoration: none;
}

#root {
	height: 100%;

	& > *:first-child {
		height: 100%;
	}
}
