@import "./variables.module.scss";

.icon {
	height: 2rem;
	width: 2rem;
	cursor: pointer;

	path {
		fill: $color-grey-light;
	}
}

.iconSecondary {
	@extend .icon;

	box-sizing: content-box;
	padding: 0.5rem;
	border-radius: 50%;

	&:hover {
		background-color: $color-grey-lighter-more;
	}

	&:active {
		background-color: darken($color-grey-lighter-more, 15%);
	}
}

.cornerButton {
	position: fixed;
	right: 2rem;
	bottom: 2rem;

	button {
		box-shadow: 0.3rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);

		&:active {
			transform: scale(0.97);
		}
	}
}
