$font-stack-primary: "Roboto", sans-serif;

$color-blue: rgb(66, 133, 244);
$color-black: rgb(17, 17, 17);
$color-grey-light: #444444;
$color-grey-lighter: #696969;
$color-grey-lighter-more: #d8d8d8;
$color-grey-lightest: #eaeaea;
$color-red: #eb4132;
$color-red-lighter: lighten($color-red, 9%);
