@import "../../styles/image.module.scss";
@import "../../styles/box-shadows.module.scss";
@import "../../styles/utils.module.scss";

.container,
.image {
	border-radius: 3px;
}

.container {
	width: 30rem;
	height: 35rem;
	margin-bottom: 1.5rem;
	background-color: $color-grey-lightest;
	position: relative;
}

.image {
	@extend .image;

	box-shadow: $box-shadow-three;
	cursor: pointer;
	position: relative;
}

.backgroundImage {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 15rem;
}
